img {
    max-width: 250px;
    padding: 10px;
    border-radius: 50px 50px;
}
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

h2, h3, p, li, ul {
    font-family: 'Varela Round', sans-serif;
}

h2 {
    color: green;
}
footer {
    background-color: green;
    color: white;
    width:250px;
    padding: 10px;
    border-radius: 50px 50px;
}
body {
    margin: auto;
    text-align: left;
    width: 20%;
    float: center;
}


