@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
    color: #020d61;
    font-family: 'Varela Round', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.logo {
    padding: 10px;
}

.socials img {
    width: 45px;
    padding: 10px;
}
.date, h1 {
    text-align: center;
}
a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1em;
    margin: 1.5em auto 1em auto;
}

main section {
    width: 95%;
    height: auto;
    border: 1px solid #020d61;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.hero {
    position: relative;
}
.hero img {
    max-width: 100%;
}
.hero a {
    position: absolute;
    bottom: 5%;
    margin-left: 5%;
    color: white;
    background-color: #020d61;
    padding: .5em;
    border-radius: 2em;
}

.event, .weather, .news {
    flex-direction: column;
}


.join {
    display: none;
}

.spotlight {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spotlight h2 {
    padding: 10px;
}
.spotlight>div {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 1em;
}

.spotlight div img {
    max-width: 100%;
    height: auto;
}


.spotlight .spotthree {
    display: none;
}

footer {
    padding: .5em;
}

footer .logothree {
    width: 30%;
}


.footeraddress {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footercontact {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footerbottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerbottom {
    padding: .3em;
    font-size: .8em;
}

/* Small/Phone View ***************/
nav {
	margin: 0 auto;
	max-width: 760px;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #020d61;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: "☰ ";
}

.navigation a:hover {
	color: white;
	background-color: #020d61;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.ham::before {
	content: "❌ ";
}

body form label.top input{
    display: block;
    padding: 10px;
    text-align: center;
    margin: auto;
}

form .button {
     display: block;
     padding: 10px;
     color: white;
     background-color:  #020d61;
     margin: auto;
     margin-top: 10px;
     border: none;
     border-radius: 10px;
 }
 label.top {
    margin-left: 38%;
 }
 .cute {
    width: 90%;
    margin: auto;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 5px;
}

.cute h1, h2, p {
    text-align: center;
    margin: 20px; 
}
.cards img {
    max-width: 100px;
    padding-left: 38%;
}
.discover img{
    width: 250px;
    text-align: center;
}