@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.date {
    text-align: center;
}
.home {
    display: grid;
    grid-template-columns: calc(25% - 1em) calc(50% - 1em) calc(25% - 1em);
    grid-template-rows: 10em 10em 15em;
    gap: 1.5em;
    margin-bottom: 2em;
    width: 95%;
}
.hero {
    grid-column: 2/3;
    grid-row: 1/3;
}
.event {
    grid-column: 1/2;
    grid-row: 1/2;
}
.weather {
    grid-column: 1/2;
    grid-row: 2/3;
}
.join {
    grid-column: 1/2;
    grid-row: 3/4;
}
.news {
    grid-column: 2/3;
    grid-row: 3/4;
}
.spotlight {
    grid-column: 3/4;
    grid-row: 1/4;

}
.spots {
    display: grid;
    grid-template-columns: 30% 30% 30%;
}
.spotone {
    grid-column: 1/2;
}
.spottwo {
    grid-column: 2/3;
}
.spotthree {
    grid-column: 3/4;
}
.navigation a:hover {
	color: white;
	background-color: #020d61;
}
.navigation {
    display: flex;
}
.navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
}
.navigation a {
    text-align: center;
}
.navigation li:first-child {
    display: none;
}
body form label.top input{
    display: block;
    padding: 10px;
    text-align: center;
    margin: auto;
}

form .button {
     display: block;
     padding: 10px;
     color: white;
     background-color:  #020d61;
     margin: auto;
     margin-top: 10px;
     border: none;
     border-radius: 10px;
 }
 label.top, .radio {
    margin-left: 38%;
 }

 #direct img, p, h2, h1 {
    border: none;
 }
